*{
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    justify-content:center;
    align-items:center ;
    margin-top: 22vh;
    
}
.main{
    width: 100%;
    max-width: 420px;
    background: #fff;
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px ;
    padding-bottom: 20px ;
    
}
.name{
    display: flex;
    justify-content: flex-start;
    margin-top: 12px;
}
.last{
    padding-left: 137px;
}
.namein{
    margin-top: 4px;
    display: flex;
    justify-content: flex-start;
}
.namein input{
    width: 200px;
}
.in2{
    padding-left:10px;
}
.mail{
    margin-top: 10px;
    margin-top: 10px;
}
.in{
    width: 413px;
    margin-top: 4px;
}
h6{
    margin-top: 4px;
}
.sex{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 10px;
}

.place{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}
.place .con{
    padding-left: 185px;
}
.placebox{
    margin-top: 4px;
    display: flex;
    justify-content: flex-start;
    gap: 10.3px;
}
.placebox input{
    width: 200px;
}
.placebox select{
    width: 200px;
}
.pass{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.pass .h4{
    padding-left: 100px;
}
.passin{
    margin-top: 4px;
}
.passin input{
    width: 200px;
}
.passin2{
    margin-left: 6px;
}
.btn{
    width: 417px;
    padding: 2.3px;
    margin-top: 13px;
    background-color: blue;
    color: #fff;
    border: 2px solid blue;
    border-radius: 5px;
}
.lst{
    display: flex;
    margin-top: 10px;
    gap: 4px;

}
span{
    color: blue ;
}

